# Data 
data/raw/**/*.wav
data/raw/**/*.mp3
data/raw/**/*.mp4
data/raw/**/*.m4a
data/raw/**/*.ogg

data/processed/**/*.wav

# Virtual env
venv/
.env/

# Pycache
__pycache__/
*.pyc
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Models
models/

# Reports
reports/**/*
# Do NOT ignore Markdown files inside reports subfolders
!reports/**/
!reports/**/*.md

# Helpers
latest_version.txt